import os

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

SECRET_KEY = '4y0%r-c0gt#7wm1@6aso#v1r-v!=5zn0&xk@41tx&yr3)ce8so'


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'blog_db',
        'USER': 'bloguser',
        'PASSWORD': '1592648b',
        'HOST': 'localhost',
    }
}

MEDIA_URL = '/media/'
MEDIA_ROOT = os.path.join(BASE_DIR, '..', 'media')

EMAIL_PORT = ''
EMAIL_HOST_PASSWORD = ''