{% extends 'home_app/base.html' %}

{% block title %}Create new article{% endblock %}
{% block content %}

	<div class="row">

		<div class="col-xs-12 col-md-6 col-md-offset-3 create_article_div">
			<hr>
			
			<form action="{% url 'article_app:create_url' %}"
					method="post"
					role='form'
					name='create_form'>
				{% csrf_token %}

				<div class="category_selector_create">
					<select name="category" id="">

							{% for category in categories %}
								<option value="{{ category.id }}">
									{{ category.category_name }}
								</option>
							{% endfor %}

					</select>
				</div>

						<input type="text"
								name='title'
								value="{{ request.POST.title }}"placeholder="Article title"
								required
								autofocus
								>
				
						<textarea class='article_content'
								name="content"
								placeholder="Article content" 
								id="article_content"
								cols="60" rows="5"
								value='{{ request.POST.content }}'
								required></textarea>
					
				<div class="col-xs-12 col-md-1 col-md-offset-11">
					<button id="create_article_button" type="submit" name='send_button'>Create</button>
				</div>

			</form>

		</div> <!-- end form div -->

	</div> <!-- end row -->

{% endblock content %}