{% extends 'home_app/base.html' %}

{% block title %}Deleting article{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
			<hr>
			<form method='post'>
				{% csrf_token %}
				<h3>Are you sure you want delete this article?</h3>
				{{ form.as_p }}
				
				<div class="col-xs-12 col-md-7 col-md-offset-4 text-right">
					<button type="submit" class='delete_button'>Delete</button>
					<a href="{% url 'article_app:read_article_url' %}" class="cancel_button">Cancel</a>
				</div>

			</form>
		</div>
	</div>

{% endblock content %}