{% extends 'home_app/base.html' %}

{% block title %}Updating current article{% endblock %}
{% block content %}

	<div class="row">
		<hr>
		<div class="col-xs-12 text-center">
			<form method='post'>
				{% csrf_token %}
				{{ form.as_p }}
				
				<div class="col-xs-12 col-md-7 col-md-offset-1 text-right">
					<button type="submit" name='Update'>Update</button>
					<a href="{% url 'article_app:read_article_url' %}">Cancel</a>
				</div>
				
			</form>
		</div>
	</div>

{% endblock content %}