{% extends 'home_app/base.html' %}

{% block content %}
	
	<div class="row">

		<div class="col-xs-12 col-md-6 col-md-offset-3 welcome_div text-center">
			<h2>Welcome</h2>
			<hr>
			<p>Here you can <a href="{% url 'article_app:articles_url' %}">read</a> some stories and write your own stories after <a href="{% url 'user_app:signup_url' %}" style="color: #008080"> registration</a>.
			<br>You can <a href="{% url 'user_app:login_url' %}" style="color: #008080">login</a> if you have account already...
			</p>
		</div>

	</div> <!-- row end -->

{% endblock content %}