{% extends 'home_app/base.html' %}
{% load static %}
{% block title %}Our authors!{% endblock %}
{% block content %}

	<div class="container">

		<div class="row">
			<hr>

			{% for entry in authors %}

				<div class="col-md-4">

					<div class="col-md-3">
						{% if entry.photo %}
							<img src="{{ MEDIA_URL }}{{ user_pic }}" height="170px" width='130px' alt="photo">
						{% else %}
							<img src="{% static 'img/images.png' %}" height="170px" width='130px' alt="photo">
						
						{%endif %}
					</div>

					<div class="col-md-6 col-md-offset-2">
						<p>{{ entry.user.first_name }} {{ entry.user.last_name }}</p>
						{% if entry.interests %}
							<p>Interests - {{ entry.interests }}</p>
						{% endif %}
						<p>Registered - {{ entry.created_on }}</p>
					</div>

				</div>

			{% endfor %}

		</div> <!-- end row -->

	</div> <!-- end container -->


{% endblock content %}